.modalCardWrapper {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modalContainer {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 430px;
  z-index: 25;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .modal {
    width: 100%;
    padding: 20px;
    background-color: rgb(221, 211, 208);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      width: 85%;
      font-size: 24px;
      font-weight: bold;
    }

    .detailContainer {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .poster {
        width: 200px;
        border-radius: 10px;
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        p {
          text-align: left;
        }
      }
    }

    .description {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  .closeModalButton {
    position: absolute;
    z-index: 30;
    top: 15px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      width: 30px;
      height: 3px;
      margin: 10px;
      background-color: #fff;
    }

    :first-child {
      transform: rotate(45deg);
    }

    :last-child {
      transform: rotate(-45deg);
    }
  }
}

.errorMessageCard {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 23;
  transform: translate(-50%, -50%);

  div {
    position: relative;
  }

  .closeModalButton {
    position: absolute;
    z-index: 30;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      width: 25px;
      height: 3px;
      margin: 10px;
      background-color: #fff;
    }

    :first-child {
      transform: rotate(45deg);
    }

    :last-child {
      transform: rotate(-45deg);
    }
  }
}
