.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;

  .search {
    position: relative;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    padding: 0px 20px;
    outline: none;
    border: none;
    background-color: rgb(227, 227, 227);
    color: rgb(68, 113, 113);
    font-size: 20px;
  }
}
