.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);

  ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;

    .active {
      color: rgb(155, 150, 150);
    }
  }

  .link {
    color: inherit;

    &:hover {
      color: rgb(155, 150, 150);
    }
  }
}

.activeLink {
  color: rgb(155, 150, 150);
}

h1 {
  color: rgb(255, 255, 255);
  margin: 0px 0px 20px 0px;
}