.greetingContainer {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;

  .about {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  .appName {
    font-size: 25px;
    font-weight: bold;
    color: rgb(161, 159, 159);;
  }
}